@use "../../_colors" as *;
@use "../../_typography" as *;
@use "../../_mixins" as *;
// @use "../../stat_blocks" as *;

.page.pc-page[name='front'] {

  .top-block.attribute-block {

    .attribute-header-block {

    }

    .attributes-block {
      display: grid;
      grid-template-columns: repeat(3, 1fr); // Use 1fr instead of auto to respect container width
      grid-template-rows: repeat(2, auto);
      gap: 0 4px;
      width: 100%;
      min-width: 0; // Allow grid to shrink below content size
      max-width: 100%; // Prevent expansion beyond container

      > .sub-block {
        @include stat-row(0);
        min-width: 0; // Allow grid items to shrink

        .dotline {
          .dot {
            flex-grow: 0;
          }
        }
      }

      font-size: 14px;
    }
  }

}