@use "../../_colors" as *;
@use "../../_typography" as *;

.page.pc-page[name='deviation'] {
  // padding-top: 16px;

  .top-block.deviation-block {
    // overflow: hidden;

    .form-label-title {
      margin-bottom: 8px;
    }

    .deviation-columns {
      display: block;
    }

    .scar-entry {
      margin: 12px 0;

      &:first-child {
        margin-top: 0;
      }
      // background: rgba($color-parchment, 0.04);
      // box-shadow: 0 2px 4px rgba($color-ink, 0.15);
    }

    .variation-entry {
      margin: 2px 0;
      border: 0;
      box-shadow: none;
      // background: rgba($color-parchment, 0.08);

      &.sub-advantage {
        margin: 0 0 0 32px;
        width: calc(100% - 32px);

        .scar-header,
        .variation-header {
          .scar-title-row,
          .variation-name-row {
            padding-left: 0;
            // background: transparent;
            background-image:
              linear-gradient(45deg, $color-paper-stack 75%, transparent 80%), url("../assets/images/backgrounds/red-header.webp");
            color: $color-blood;

            .scar-value.dotline,
            .variation-value.dotline {

              .dot {
                filter: none;
              }
            }
          }

          .variation-narrative {
            background: transparent;
            color: $color-ink;
            font-style: italic;
            padding: 0 8px;
            margin-top: -4px;
          }
        }
      }
    }

    .standalone-variation-list {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-bottom: 16px;
    }

    .variation-children {
      margin: 0px 0 0 0;
      padding-left: 24px;
      border-left: 1px solid rgba($color-ink, 0.2);
      display: flex;
      flex-direction: column;
      gap: 0px;
    }

    .scar-header,
    .variation-header {
      cursor: pointer;

      .scar-title-row,
      .variation-name-row {
        display: flex;
        justify-content: stretch;
        align-items: center;
        gap: 8px;
        background: url("../assets/images/backgrounds/red-header.webp") no-repeat center center;
        background-size: 120% 120%;
        font-size: 18px;
        line-height: 20px;
        font-family: $font-tab;
        text-transform: uppercase;
        color: $color-parchment;
        padding: 4px 24px 4px 4px;
        margin: 8px 0 4px 0;

        > * {
          white-space: nowrap;
        }

        &.scar-title-row {
          position: relative;
          background: url("../assets/images/backgrounds/black-header.webp") no-repeat center center;
          color: red;
          background-size: 120% 120%;
        }

        .scar-name,
        .variation-name {
          flex-grow: 1;
          display: flex;
          align-items: center;
          min-width: 0;

          .trait-tagged-block {
            --trait-tag-parent-height: 20px;
          }
        }
        .scar-meta,
        .variation-meta {
          flex-grow: 0;

          .dotline {
          --dotline-size: 16px;
          // margin-right: 32px;
          .dot {
            // filter: invert(1);
            margin: 0;
          }
        }
        }
      }
    }

    .scar-meta,
    .variation-meta {
      display: flex;
      gap: 12px;
      font-size: 12px;
      letter-spacing: 0.5px;
    }

    .variation-tier,
    .variation-final,
    .scar-level {
      font-family: $font-tab;
    }

    .scar-type {
      text-transform: capitalize;
      color: $color-parchment;
    }

    .scar-narrative,
    .variation-narrative {
      @include body-text-general;

      font-size: 13px;
      background: $color-ink;
      padding: 4px 8px;
      margin: 0 24px;
      margin-top: -18px;
      position: relative;
      z-index: -1;
      color: $color-parchment;
      letter-spacing: 0.5px;
      display: block;
      text-wrap: pretty;
      text-align: justify;
      hyphens: auto;
      opacity: 1;
      transition: opacity 0.2s ease;
      padding-top: 12px;

      strong {
        background: $color-parchment;
        color: $color-ink;
        padding: 0 4px;
      }

      p:first-child {
        margin-top: 0;
      }
      p:last-child {
        margin-bottom: 0;
      }
    }

    .scar-content,
    .variation-content {
      hyphens: auto;
      text-wrap: pretty;
      text-align: justify;

      opacity: 0;
      transition: opacity 0.3s ease;
      padding: 0 24px 0px 24px;

      .scar-effect,
      .variation-effect {
        margin: 8px 0;


        ul {
          margin: 0;

          li {
            text-align: left;
            margin: 4px 0;

            br {
              line-height: 0.5;
            }
          }
        }
      }
    }



    .scar-source,
    .variation-source {
      margin-top: -8px;
      text-align: right;
    }

    .scar-variations {
      margin: 4px 0 20px 26px;
      padding: 0;

      > *:first-child {
        margin-top: 0;
      }

      .scar-variations-label {
        font-family: $font-tab;
        text-transform: uppercase;
        margin: 0 0 4px 0;
      }
    }

    .scar-empty,
    .variation-empty {
      @include body-text-general;

      font-style: italic;
      padding: 16px 24px;
      color: rgba($color-ink, 0.7);
    }
  }
}
