@use "../../_colors" as *;
@use "../../_typography" as *;
@use "../../_mixins" as *;
// @use "../../stat_blocks" as *;

.page.pc-page[name='front'] {

  .top-block.pc-header {
    display: flex;
    flex-direction: column;
    // gap: 4px;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    min-height: 275px;
    padding-top: 8px;

    > .sub-block {
      display: flex;
      flex-direction: row;
      // gap: 4px;
      justify-content: space-between;
      align-items: center;

      .form-options {
        display: flex;
        flex-direction: row;
        gap: 8px;
        justify-content: space-between;
        align-items: center;
        padding: 0 34% 0 10px;

        .form-option {
          @include header-text-general;

          position: relative;
          .form-option-circle {
            inset: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
            width: 32px;
            height: 32px;
          }
        }
      }

      &.character-name {
        @include header-text-title;
      }
  }

    > .absolute-block {
      position: absolute;
      z-index: 1;

      &.pc-polaroid-container {
        width: calc(var(--paper-height) * 0.28);
        right: calc(var(--paper-height) * -0.045);
        top: calc(var(--paper-height) * -0.02);
        transform: rotate(-5deg);

        .pc-polaroid-frame {
          position: relative;
          margin-left: 0;
          margin-right: 64px;
          z-index: 3;
        }

        .pc-polaroid-image {
          position: absolute;
          margin: 16px 32px 16px 16px;
          width: calc(100% - 32px);
        }

        .pc-polaroid-paper-clip {
          position: absolute;
          width: 20%;
          z-index: 4;
          left: 10%;
          top: -15%;
          transform: rotate(-10deg);
        }

        .pc-polaroid-caption {
          font-family: $font-marker;
          font-weight: normal;
          font-size: 24px;
          text-align: center;
          width: 100%;
          position: absolute;
          bottom: 36px;
          z-index: 5;
          white-space: nowrap;
          transform-origin: center center;
          transform: translateX(-50%) scaleX(0.85) ;
          left: 50%;
          text-indent: -8px;
        }
      }


    }
  }

}