@use "../../_colors" as *;
@use "../../_typography" as *;
@use "../../_mixins" as *;
// @use "../../stat_blocks" as *;

.page.pc-page[name='front'] {

  .overview-block {
    display: flex;
    flex-direction: column;
    margin: 40px 0 0 0;
    padding: 8px;
    background: $color-ink;

    .overview-text {
      @include body-text-general;

      font-size: 13px;
      color: $color-parchment;
      letter-spacing: 0.5px;
      display: block;
      text-wrap: pretty;
      text-align: justify;
      hyphens: auto;

      strong {
        background: $color-parchment;
        color: $color-ink;
        padding: 0 4px;
      }
    }
  }
}