{{!-- Variables to Pass:
- `source`: { book: string, page: number }
--}}

<span class="source-citation">
  <span class="source-title">{{getBookName source.book}}</span>
  <span class="source-page">p.{{source.page}}</span>
</span>
