{{!-- Variables to Pass (from PCSheetData):
- `overview`: string (HTML content for the overview text)
 --}}

<div class="block top-block overview-block">
  <span class="overview-text">
    {{{overview}}}
  </span>
</div>