// @use "./_typography" as *;

$color-parchment: #F3EFE6;
$color-paper-stack: #fdfcfa;
$color-ink: #1B1A17;
$color-grey: #666666;
$color-blood: #6B0F1A;
$color-soot: #2E2A27;
$color-red: #390f10;
$color-pale-red: #ff7070;
$color-blue: #000075;
