@use "./_colors" as *;
@use "./_typography" as *;

/**
* Versatile tooltips styles using anchor & target features.
*    - Target: element with the "tooltip" class.
*    - Anchor:
*    - Target:
*
*/

.has-tooltip {
  cursor: pointer;

  &:not(.dotline) {
    // background: rgba(255, 0, 0, 0.2);
    // padding: 0 3px;
    // border-radius: 8px;
    font-weight: bold;
    text-decoration-style: dotted;
    text-decoration-line: underline;
  }

  // Tooltip visibility is now controlled by JavaScript via .tooltip--active class
  // CSS hover no longer directly shows tooltips
}

.tooltip {
  // Initially use absolute positioning to remove from layout flow
  // JavaScript will change to position: fixed when tooltip is moved to container
  position: absolute;
  display: inline-block;

  background: url("../assets/images/backgrounds/ink-block.webp") no-repeat center center;
  background-size: 100% 100%;

  // min-height: 32px;
  min-height: 16px;
  min-width: 75ch;
  height: fit-content;
  width: fit-content;
  // aspect-ratio: 16/9;
  white-space: normal;
  pointer-events: none;
  // Very high z-index to ensure tooltips appear above all other content
  // This prevents stacking context issues where tooltips appear behind anchors or other elements
  z-index: 9999;

  margin-bottom: 16px;
  margin-top: 0;
  padding: 24px 40px;

  color: $color-parchment;
  font-family: "Typewriter";

  filter: drop-shadow(8px 8px 4px rgba(0, 0, 0, 1));

  // Initial hidden state - GSAP will control visibility, opacity, and scale only
  // Position is handled entirely by JavaScript using position: fixed
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  user-select: none;
  font-size: 16px;
  font-weight: normal;

  // No CSS transitions - GSAP handles visibility animations
  // This allows positioning to happen before visibility changes
  // All positioning is handled by JavaScript - no CSS position classes needed

  img {
    width: 100%;
    margin-left: -24px;
  }

  // Keep tooltip visible when hovering it directly (GSAP maintains state)

  &.tiny-tooltip {
    background: url("../assets/images/backgrounds/black-header.webp") no-repeat center center;
    background-size: 100% 130%;
    padding: 2px 32px;
    min-height: unset;
    min-width: unset;
    white-space: normal;
    max-width: 600px;

    .tooltip-block {
      white-space: normal;
    }
  }

  &.red-tooltip {
    background: url("../assets/images/backgrounds/red-header.webp") no-repeat center center;
    background-size: 100% 130%;
    filter: brightness(1.5) drop-shadow(0px 0px 4px rgba(0, 0, 0, 1));
    padding: 12px 20px;
    text-shadow:
    0 0 2px black,
    0 0 2px black,
    0 0 2px black,
    0 0 2px black;

  }

  .tooltip-title,
  .tooltip-subtitle,
  .tooltip-block {
    display: block;
    width: 100%;
    text-wrap: pretty;
    text-align: justify;
    hyphens: auto;
    margin: 8px 0;

    &.tooltip-title-left {
      text-align: left;
      --tooltip-title-align: left;
    }

    &.tooltip-title-right {
      text-align: right;
      --tooltip-title-align: right;
    }

    &.tooltip-title-white {
      --tooltip-title-color: $color-parchment;
    }

    &.tooltip-title,
    &.tooltip-subtitle {
      text-align: var(--tooltip-title-align, center);
    }

    &.tooltip-title {
      font-family: $font-heading;
      font-size: 24px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      color: var(--tooltip-title-color, #FF0000);
      padding: 0;
      border: none;
      background: none;

      +.tooltip-subtitle {
        margin-top: -8px;
      }
    }

    &.tooltip-subtitle {
      font-weight: bold;
      font-size: 18px;
      text-transform: uppercase;
      letter-spacing: 0.05em;
    }

    &.tooltip-block {
      font-size: 14px;

      .tooltip-list-item {
        text-align: left;
        display: list-item;
        list-style-type: disc;
        list-style-position: inside;
      }
    }
  }

  .trait-desc-general {
    margin: 16px 16px;
    font-style: italic;
  }

  &.tilt-card,
  &.condition-card,
  &.rules-card {
    background: white;
    color: black;
    min-width: unset;
    width: 400px;
    padding: 0;
    border-radius: 20px;
    /* outline: 2px solid magenta; */
    overflow: hidden;
    text-transform: none;

    &.big-rules-card {
      width: 600px;
    }

    &.very-big-rules-card {
      width: 800px;
    }

    .tooltip-title {
      color: white;
      font-family: "Chromoxome";
      font-size: 32px;
      line-height: 32px;
      font-weight: normal;
      text-shadow:
        0 0 2px black,
        0 0 2px black,
        0 0 2px black,
        0 0 2px black,
        0 0 2px black,
        0 0 2px black,
        0 0 2px black,
        0 0 2px black,
        0 0 2px black,
        0 0 2px black,
        0 0 2px black,
        0 0 2px black,
        0 0 2px black,
        0 0 2px black;
      background: url("../assets/images/backgrounds/tilt-condition-header.webp") no-repeat center center;
      background-size: 100% auto;
      margin-top: 0;

      + .tooltip-block {
        text-indent: 0;
      }
    }

    &.tilt-card .tooltip-title,
    &.rules-card .tooltip-title {
      margin-bottom: 20px;
    }

    &.condition-card .tooltip-title {
      margin-bottom: 5px;
    }

    .tooltip-subtitle {
      font-family: "FuturaPT";
      font-weight: normal;
      font-size: 24px;
      letter-spacing: 0px;

      + .tooltip-block {
        text-indent: 0;
      }
    }

    .tooltip-citation {
      text-align: right;

      .source-citation {
        &::before {
          margin-right: 0;
        }
        &::after {
          margin-left: 0;
        }
        .source-title {
          width: min-content;
          white-space: nowrap;
          text-indent: 0;
        }
      }

    }

    &.rules-card {
      padding: 10px;
      font-size: 14px;
      filter: drop-shadow(0px 0px 4px rgb(0, 0, 0)) drop-shadow(8px 8px 4px rgb(0, 0, 0));
      border-radius: 0;

      strong {
        font-weight: 500;
      }

      .tooltip-title {
        background: transparent;
        font-family: "GFHaldaSmashed";
        text-transform: none;
        text-shadow: none;
        color: #141414;
        font-size: 36px;
        letter-spacing: 0;
        font-weight: normal;
        text-align: left;
        margin: 0px 0px 0px 0px;
      }

      .tooltip-subtitle {
        font-family: GoudyOldStyle;
        text-transform: none;
        text-align: left;
        font-weight: 500;
        font-size: 22px;
        margin: 6px 0px 12px 0px;
        letter-spacing: 1px;
      }

      .tooltip-block {
        padding: 0;
      }
    }

    .tooltip-block {
      font-family: "GoudyOldStyle";
      font-size: 14px;
      letter-spacing: 0.25px;
      text-indent: 25px;
      hyphens: auto;
      padding: 0 10px;
    }


    .tooltip-list-item {
      padding: 5px 0px;
      margin: 0px 0px;
      padding-left: 45px;
      text-indent: -26px;
      text-align: left;

      &:nth-child(2n - 1) {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }

    ul, ol {
      font-family: GoudyOldStyle;
      margin: 10px 0px;
      padding-left: 0px;
      list-style-position: inside;

      li {
        padding: 5px 0px;
        margin: 0px 0px;
        padding-left: 45px;
        text-indent: -26px;
        text-align: left;

        &:nth-child(2n - 1) {
          background-color: rgba(0, 0, 0, 0.1);
        }
      }
    }

    .source-citation {
      // width: 100%;
      text-indent: 0;
      gap: 2px;
      justify-content: flex-end;
      font-family: GoudyOldStyle;
    }
  }
}
.trait-tag-tooltip {
  .tooltip-title,
  .tooltip-subtitle,
  .tooltip-block {
    text-transform: none;
    letter-spacing: normal;
    font-family: inherit;
    color: inherit;
  }
}