@use "../_colors" as *;
@use "../_typography" as *;

.page.pc-page[name='merits'] {
  padding-top: 16px;

  .top-block.merits-block {
    overflow: hidden;

    >.merit-item {

      .merit-header {
        cursor: pointer;

        .merit-name-row {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 8px;

          background: url("../assets/images/backgrounds/red-header.webp") no-repeat center center;
          background-size: 100% 100%;
          font-size: 18px;
          line-height: 20px;
          font-family: $font-tab;
          text-transform: uppercase;
          color: $color-parchment;
          padding: 4px 24px;
          margin: 8px 0 4px 0;
          border-radius: 0;

          .merit-value.dotline {

            min-width: unset;
            flex-basis: unset;
            gap: 0.75px;

            .dot {
              min-width: 16px;
              min-height: 16px;
              filter: invert(1);
              margin: 0;
            }

            // display: flex;
            // gap: 4px;
          }
        }

        .merit-narrative {
          @include body-text-general;

          font-size: 13px;
          background: $color-ink;
          padding: 8px;
          margin: 0 24px;
          color: $color-parchment;
          letter-spacing: 0.5px;
          display: block;
          text-wrap: pretty;
          text-align: justify;
          hyphens: auto;
          opacity: 1;
          transition: opacity 0.2s ease;

          strong {
            background: $color-parchment;
            color: $color-ink;
            padding: 0 4px;
          }
        }
      }

      .merit-content {

        &,
        & * {
          hyphens: auto;
          text-wrap: pretty;
          text-align: justify;
        }

        opacity: 0;
        transition: opacity 0.3s ease;

        .merit-effect,
        .merit-drawback {
          margin: 8px 0;

          .sub-block {
            margin: 8px 16px 8px 16px;
            font-size: 12px;
            text-wrap: pretty;
            text-align: justify;
            background: rgba(0, 0, 0, 0.1);
            padding: 8px;

            h3, h4 {
              margin: 0;

              +p {
                margin-top: 0;
              }
            }

            ul {
              margin: 0;

              li {
                text-align: left;
              }
            }

            p:last-of-type {
              margin-bottom: 0;
            }

            .source-citation {
              margin-left: 8px;
            }
          }
        }

        .merit-drawback {
          // margin-left: 16px;

          em {
            font-weight: bold;
          }
        }

        .merit-levels {
          .merit-level {
            margin: 8px 0;
          }

          .merit-level-drawback {
            em {
              font-weight: bold;
            }
          }
        }

        .merit-source {
          margin-top: -8px;
          text-align: right;
        }
      }

      &.sub-merit {
        margin-left: 32px;
        width: calc(100% - 32px);

        .merit-header {
          .merit-name-row {
            padding-left: 0;
            background: transparent;
            color: $color-blood;

            .merit-value.dotline {

              .dot {
                filter: none;
              }
            }
          }
        }
      }
    }
  }
}