@use "../top_blocks/pc_page_front/header" as *;
@use "../top_blocks/pc_page_front/overview" as *;
@use "../top_blocks/pc_page_front/attributes" as *;
@use "../top_blocks/pc_page_front/skills" as *;
@use "../top_blocks/pc_page_front/derived-traits" as *;